#in, #out{
	width: 100%;
	display: block;
	outline: none;
	border: none;
	padding: 10px;
}
#in{
	border: 2px solid #fba622;
	border-radius: 5px;
	color: #fba622;
}
#out{
	border: 2px solid #35276f;
	border-radius: 5px;
	color: #35276f;
}
#generate, #copy, #clear{
	padding: 10px;
	display: inline-block;
	margin: 5px 0;
	outline: none;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	color: #FFF;
}
#generate:hover, #generate:focus,
#copy:hover, #copy:focus,
#clear:hover, #clear:focus{
	background-color: #FFF;
}
#generate{
	border: 2px solid #20b931;
	background-color: #20b931;
}
#generate:hover, #generate:focus{
	color: #20b931;
}
#copy{
	border: 2px solid #64339d;
	background-color: #64339d;
}
#copy:hover, #copy:focus{
	color: #64339d;
}
#clear{
	border: 2px solid #f31e3a;
	background-color: #f31e3a;
}
#clear:hover, #clear:focus{
	color: #f31e3a;
}
