#main{
	width: 100%;
	height: 100%;
	min-height: 100%;
	position: relative;
	background: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiHACb4FZ3Z3IoRsbBhINQ9HZVl0-nT9NwSt3HeCVCVt03-pSjJ3jkAIZPm9TMwUaeteg4WDLmE-i87IyKyuBxHOAY-QxUVSLXssHfx3ioVWWYlqXPdiKKFc07N_4XOrs6imHfVRM87zbcaqvcSMENv7AWKBmWuDrtkuR3lv-KUbSRWZS1CBuwgGear1A/s16000/a.png') center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#main-center{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	max-width: 480px;
	padding: 10px 20px;
	margin: auto;
}
@media screen and (max-width: 350px){
	#main{
		height: auto;
	}
	#main-center{
		position: relative;
		top: 0;
		transform: translateY(0);
	}
}
@media screen and (max-height: 400px){
	#main{
		height: auto;
	}
	#main-center{
		position: relative;
		top: 0;
		transform: translateY(0);
	}
}
#main-zero h1{
	font-weight: normal;
}
#main-menu{
	width: 100%;
	display: block;
	overflow: hidden;
	padding: 10px;
	background-color: #222;
	border-radius: 5px;
	box-shadow: 0 0 5px #000;
}
#main-menu a{
	display: inline-block;
	padding: 10px;
	color: #FFF;
	text-decoration: none;
	border-radius: 5px;
}
#main-menu a:hover{
	color: #000;
	background-color: #FFF;
}
#page, #tools{
	padding: 20px 0;
}
#github-page{
	padding: 10px 0;
}
#tools{
	background-color: #431239;
}
.under{
	display: block;
	margin: 10px;
	width: 40px;
	height: 4px;
	background-color: #FFF;
}
#foot{
	padding: 20px;
	background-color: #000;
}
