*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
html, body{
	width: 100%;
	height: 100%;
	position: relative;
}
body{
	font-family: 'JetBrains Mono', monospace;
	overflow-x: hidden;
	background-color: #FFF;
	color: #000;
}
h1{
	font-size: 40px;
	line-height: 65px;
}
a{
	color: #222;
}
.con{
	max-width: 800px;
	padding: 0 20px;
	margin: auto;
	display: block;
}
.tex-lig{
	color: #FFF;
}
.tex-cen{
	text-align: center;
}
.tex-blo{
	display: block;
}
.tex-inblo{
	display: inline-block;
}
.br-20px{
	display: block;
	height: 20px;
}
